@charset "utf-8";
/* CSS Document */
.ui-tabs .ui-tabs-nav li{
	top:2px;
}

/*demo page css*/
.dialog_link {padding: .4em 1em .4em 20px;text-decoration: none;position: relative;}
.dialog_link span.ui-icon {margin: 0 5px 0 0;position: absolute;left: .2em;top: 50%;margin-top: -8px;}